.timerContainer {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  /* gap: 15px; */
}

.timerContents {
  padding-top: 30px;
  font-size: 20px;
  color: #787ff6;
}

.timerContentsContainer {
  width: 100px;
  margin-right: 245px;
  margin-left: 10px;
}

/* Buttons */
.timerContainer button {
  appearance: button;
  background-color: #fff;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #787ff6;
  cursor: pointer;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  padding-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 85px;
}

.timerContainer button:main,
.timerContainer button:focus {
  user-select: auto;
}

.timerContainer button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.timerContainer button:disabled {
  cursor: auto;
}
