* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

body {
  height: 800px;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}

.App {
  text-align: center;
  height: 100%;
  padding-top: 20px;
}

.title {
  /* margin-bottom: 15px; */
  font-weight: 550;
  font-size: 48px;
  /* color: rgb(90, 90, 90); */
  color: #1cb1f6c8;
  background: rgb(120, 127, 246);
  background: linear-gradient(
    90deg,
    rgba(120, 127, 246, 1) 45%,
    rgba(74, 222, 222, 1) 60%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.board-container {
  margin-bottom: 4px;
}

.mistakes-container {
  margin-bottom: 10px;
  font-size: 20px;
  color: #666;
}

#my-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  pointer-events: none;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* DifficultySelector */
.buttons-container div:nth-child(1) {
  margin-right: 100px;
}
