* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  height: 800px;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}

.App {
  text-align: center;
  height: 100%;
  padding-top: 20px;
}

.title {
  margin-bottom: 15px;
  font-weight: 550;
  font-size: 48px;
  /* color: rgb(90, 90, 90); */
  color: #1cb1f6c8;
  text-transform: uppercase;
}

.board-container {
  margin-bottom: 4px;
}

.mistakes-container {
  margin-bottom: 10px;
  font-size: 20px;
}

#my-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  pointer-events: none;
}

/* .board {


} */
