* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  height: 800px;
  background-color: #ced2c2;
}

.App {
  text-align: center;
  height: 100%;
  padding-top: 20px;
}

.title {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 48px;
  color: rgb(90, 90, 90);
  font-family: 'Abril Fatface', cursive;
}

.board-container {
  margin-bottom: 4px;
}

.mistakes-container {
  margin-bottom: 10px;
  font-size: 20px;
}

/* .board {


} */
